.drop-menu
  ul.drop-menu__list
   li.drop-menu__el
     a(href='#sec-hero').menu__link Главная
   li.drop-menu__el
     a(href='#sec-user').menu__link Обо мне                   
   li.drop-menu__el
     a(href='#sec-skills').menu__link Навыки                  
   li.drop-menu__el
     a(href='#sec-slider').menu__link Работы                  
   li.drop-menu__el
     a(href='#reviews').menu__link Отзывы                    
   li.drop-menu__el
     a(href='#sec-form').menu__link Связаться    
     

  .drop-menu__links
    ul.socials
      li.socials__item
        a(href="https://vk.com/alim_mambetov" target="blank").socials__li
          +icon("vk", "socials__icon socials__icon_vk")
      li.socials__item
        a(href="https://github.com/Alimbo-zzz?tab=repositories" target="blank").socials__li
          +icon("github", "socials__icon socials__icon_git")  

          
            


  