section.footer#sec-footer
 .container
  .footer__inner
    .footer-left
      .footer-left__year © 2019
      .footer-left__user
        .footer-left__user-name Алим Мамбетов
        .footer-text Личный сайт веб-разработчика
    .footer-right
      .footer-right__btns
        nav.menu.footer-menu
          ul.menu__list
           li.menu__item
             a(href='#sec-hero').menu__link.footer-menu__link Главная
           li.menu__item
             a(href='#sec-user').menu__link.footer-menu__link Обо мне                   
           li.menu__item
             a(href='#sec-skills').menu__link.footer-menu__link Навыки                  
           li.menu__item
             a(href='#sec-slider').menu__link.footer-menu__link Работы                  
           li.menu__item
             a(href='#reviews').menu__link.footer-menu__link Отзывы                    
           li.menu__item
              a(href='#sec-form').menu__link.footer-menu__link Связаться   
                 
      .footer-right__content
        .footer-right__content-left
          .footer-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .footer-right__content-social
            ul.socials.socials_border
              li.socials__item
                a(href="https://vk.com/alim_mambetov" target="blank").socials__link
                  +icon("vk", "socials__icon")
              li.socials__item
                a(href="https://github.com/Alimbo-zzz?tab=repositories" target="blank").socials__link
                  +icon("github", "socials__icon")
            
 
 
        .footer-right__content-right
          .footer-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer-right__content-name
            span.italic Martin Golding        